#### Practice of concepts of list tupple and dictionary

In [6]:
Tuple2 = ("Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu")
print("the isze of tuple is:",len(Tuple2))
print(Tuple2.__sizeof__() )

the isze of tuple is: 6
72

In [7]:
lista = [9, 5, 6]
emp = []
for i in lista:
    tup = (i,i**3)
    emp.append(tup)
print(emp)

[(9, 729), (5, 125), (6, 216)]

In [6]:
#adding tupple to list and vice versa
test_list = [5, 6, 7]
test_tup = (9, 10)
sum = test_list+list(test_tup)
print(sum)
tup1 = (4,2,7,4,5)
list1 = [4,7,5,6,7]
sum = tup1+tuple(list1)
print(sum)
my_list = [5, 6, 7]
my_tuple = (9, 10)
my_list.insert(3,my_tuple)
print(my_list)

[5, 6, 7, 9, 10]
(4, 2, 7, 4, 5, 4, 7, 5, 6, 7)
[5, 6, 7, (9, 10)]

In [10]:
#sum of tuple elements
tup = (1,3,5,7,9,2)
sum = 0
for i in tup:
    sum = sum+i
print(sum)

27

In [15]:
#modulo of tuple elements
tup1 = (2,5,7,8,3,6)
tup2 = (2,5,9,4,8,2)
for i in range(0,len(tup1)):
    print(tup1[i]%tup2[i])

0
0
7
0
3
0

In [ ]:
test_list = [[('Gfg', 3)], [('best', 1)]] 
cus_eles = [1, 2]
result_list=[]
for i in test_list:
    result_list.append(cus_eles[0])
print(test_list)

In [ ]:
test_list = [(6, 24, 12), (60, 12, 6), (12, 18, 21)]
k = int(input("ente the number:"))
for i in test_list:
    if(i%k==0):
        print(i)

In [2]:
tup = (3, 7, 1, 18, 9)
temp = list(tup)
temp.sort()
print(temp)
newlist = []
print(temp[-1])

[1, 3, 7, 9, 18]
18

In [7]:
#sum of tupple elements
tup=(1,5,3,7,5,4,9,5)
sum = 0
for i in tup:
    sum=sum+i
    print(sum)
print("total sum is:",sum)

1
6
9
16
21
25
34
39
total sum is: 39

In [12]:
tup1 = (2,5,7,8,3,6)
tup2 = (2,5,9,4,8,2)
for i in range(0,len(tup1)):
    print(tup1[i]+tup2[i])
print(tup1[0]+tup2[0])

4
10
16
12
11
8
4

In [17]:
test_list = [[('Gfg', 3)], [('best', 1)]]
cus_eles = [1, 2] 
test_list.insert(2,cus_eles[0])
print(test_list)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [1]:
list1 = ['sem1','sem2','sem3']
list2 = [['cct','des','maths','phy','jom'],['desthinking','poe','fop','itc'],['A','B','C','D','E']]
joint_list = []
for ele1,ele2 in zip(list1,list2):
    tupple = (ele1,ele2)
    joint_list.append(tupple)    
print(joint_list)
dictf = dict(joint_list)
print(dictf)

print("Choose an operation to perform : \nENTER 1 FOR SEEING THE COURSES IN A SEMESTER\nENTER 2 FOR FINDING THE SEMESTER OF A COURSE")
choice = input("Enter Your Choice : ")
if choice=='1':
    sem_choice = input("Choose a semester for displaying courses within it : \n(You can type sem1, sem2, sem3)\nEnter your choice : ")
    for x,y in dictf.items():
        if x == sem_choice :
            print("The courses covered are : ")
            for disp in y:
                print(disp)
            break
    else:
        print("Your choice cannot be detected or displayed at the moment")

elif choice=='2':
    course_name = input("Enter the name course to be found : ")
    check=0
    for x,y in dictf.items():
        if check==1:
            break
        for element in y:
            if element==course_name:
                print("This course is covered under",x)
                check=1
                break  
    if check==0:
        print("The course",course_name,"cannot be found or detected.")

else :
    print("Invalid Choice. Enter a valid entity.")

[('sem1', ['cct', 'des', 'maths', 'phy', 'jom']), ('sem2', ['desthinking', 'poe', 'fop', 'itc']), ('sem3', ['A', 'B', 'C', 'D', 'E'])]
{'sem1': ['cct', 'des', 'maths', 'phy', 'jom'], 'sem2': ['desthinking', 'poe', 'fop', 'itc'], 'sem3': ['A', 'B', 'C', 'D', 'E']}
Choose an operation to perform :
ENTER 1 FOR SEEING THE COURSES IN A SEMESTER
ENTER 2 FOR FINDING THE SEMESTER OF A COURSE

Enter Your Choice :  1
Choose a semester for displaying courses within it :
(You can type sem1, sem2, sem3)
Enter your choice :  sem1

The courses covered are :
cct
des
maths
phy
jom

In [31]:
test_tup = (1, 5, 7, 8, 10)
print(len(test_tup))
newlist = []
for i in range(len(test_tup)-1):
    newlist.append(test_tup[i]*test_tup[i+1])
tup = tuple(newlist)
print(tup)

5
(5, 35, 56, 80)

In [30]:
test_tup = (1, 5, 7, 8, 10)
newlist = []
print(len(test_tup)
for i in test_tup:
    newlist.append(test_tup(i)*test_tup(i+1))
tup = tuple(newlist)
print(tup)

TypeError: 'tuple' object is not callable

In [34]:
#remove tuples of length k
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k = int(input("enter the size of which tuple should be removed"))
for i in test_list:
    if(len(i)==k):
        test_list.remove(i)
print(test_list)

enter the size of which tuple should be removed 2

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [41]:
test_list = [(None, 2), (None, None), (3, 4), (12, 3), (None, )]
res = []
for i in test_list:
    if not(i.count(None)==len(i)):
        res.append(i)
print(res)

[(None, 2), (3, 4), (12, 3)]

In [43]:
#conert two list into a dictionary 
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dicti = dict()
for i in range(len(keys)):
    dicti.update({keys[i]:values[i]})
print(dicti)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [44]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dicti = dict(zip(keys,values))
print(dicti)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [46]:
#merge two dctionaries
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dic3 = dict1.copy()
print(dic3)
dic3.update(dict2)
print(dic3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [49]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [50]:
#Exercise 4: Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
namedic = dict(employees)
print(namedic)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
newkey =

In [7]:
d = {'suresh':98,'ramesh':76,'dinesh':87,'mahesh':89}
for i in d.keys():
    if(i=='suresh'):
        print("present")
        break

present

In [11]:
d = {'suresh':98,'ramesh':76,'dinesh':87,'mahesh':89}
x = input("which name you are looking for:")
for i in d:
    if(i==x):
        print("available")
        break

which name you are looking for: dinesh

available

In [12]:
d = {'suresh':98,'ramesh':76,'dinesh':87,'mahesh':89}
x = input("which name you are looking for:")
if x in d.keys():
    print("available")

which name you are looking for: ramesh

available

In [13]:
d = {'suresh':98,'ramesh':76,'dinesh':87,'mahesh':89}
d2 = {'raja':87,'pilot':81}
d.update(d2)
print(d)

{'suresh': 98, 'ramesh': 76, 'dinesh': 87, 'mahesh': 89, 'raja': 87, 'pilot': 81}

In [14]:
d = {'a':4,'b':8,'c':3,'d':9}
mu = 1
for i in d.values():
    mu=mu*i
    print(mu)

4
32
96
864

In [15]:
d = {'a': 100, 'b':200, 'c':300}
sum = 0
for i in d.values():
    sum = sum+i
    print(sum)
print(sum)

100
300
600
600

In [20]:
languages = [{'name':'python','speed':'slow','opinion':['terrible','mush']},{'name':'java','speed':'moderate','opinion':['alright','bizare']}]
for i in range(len(languages)):
    print(languages[i]['opinion'][0])

terrible
alright

In [25]:
student_data = {"mohan":{"roll_no":1001,"age":19,"course":"ITC"},"satish":{"roll_no":1002,"age":19,"course":"DT"}}
print(student_data["mohan"]["course"])
student_data["mohan"]["phone"]=78798280
print(student_data["mohan"])

ITC
{'roll_no': 1001, 'age': 19, 'course': 'ITC', 'phone': 78798280}

In [16]:
list1 = ['sem1','sem2','sem3']
list2 = [['cct','des','maths','phy','jom'],['desthinking','poe','fop','itc'],['A','B','C','D','E']]
newlist = dict(zip(list1,list2))
print(newlist)
select = input("Enter COURSES to find the courses of semester:\n Enter SEM OF COURSE to find the semmester of given course:\n")
if(select == "COURSES"):
    sem_input = input("Enter the semmester you wants to know the courses of(like: sem1,sem2,sem3):")
    for key, value in newlist.items():
        if key == sem_input:
            print("Courses of", sem_input, ":", value)
            break
elif(select == "SEM OF COURSE"):
    course_input=input("which course you are looking for")
    for key,value in newlist.items():
        if(value==course_input):
            print("this course comes under:",key)
            break
        else:
            print("the course you have entered is not introduced yet")

{'sem1': ['cct', 'des', 'maths', 'phy', 'jom'], 'sem2': ['desthinking', 'poe', 'fop', 'itc'], 'sem3': ['A', 'B', 'C', 'D', 'E']}

Enter COURSES to find the courses of semester:
 Enter SEM OF COURSE to find the semmester of given course:
 SEM OF COURSE
which course you are looking for cct

the course you have entered is not introduced yet
the course you have entered is not introduced yet
the course you have entered is not introduced yet

In [5]:
houses = {
    (44.79,-93.14,285):'avantika',
    (38.89,-77.03,13):'mit'
}
newlist = []
for i in houses:
    newlist.append(list(i))
print(newlist)
for j in houses.values():
    newlist.append(j)
print(newlist)

[[44.79, -93.14, 285], [38.89, -77.03, 13]]
[[44.79, -93.14, 285], [38.89, -77.03, 13], 'avantika', 'mit']

### PROBLEM_03 SOLUTION

In [ ]:
def step_out(waist_height):
    ''' enter the amount of distance the player come out of the crease or stepped out in cm '''
    stepOut = float(input("How much distance the batsman come out of crease:"))
    new_waist_height = waist_height + stepOut
    return new_waist_height
    
def checkball(Team,player,ball_height):
    waist_height = Team.get(player)
    player_position = input("does the player step out:")
    print()
    if(player_position=='no'):
        if(ball_height>waist_height):
            print("It is clearly a no ball")
            print()
            print(f"{player} waist height is {waist_height}cm and the ball height is {ball_height} cm which is greater than waist line")
            print()
            print(f"{ball_height} cm ball")
            print("------------------------")
            print()
            print(f"{waist_height} waist")
            print("-------------------------")
        elif(ball_height<waist_height):
            print("It is a fair delivery, It is clearly below the waist line")
            print(f"{waist_height}cm waist")
            print("-------------------------")
            print(f"{ball_height} cm ball")
            print("------------------------")
            
        else:
            print("The ball height is equal to the waist height,Umpire you can stay with your decision,its umpires call")
    else:
        new_waist_height = step_out(waist_height)
        if(new_waist_height>ball_height):
            print("It is clearly a fair delievery")
            print()
            print(f"The waist height is {new_waist_height}cm and ball height {ball_height}cm it is clearly below the waist line")
            print(f"{new_waist_height}cm waist")
            print("-------------------------")
            print(f"{ball_height} cm ball")
            print("------------------------")
        elif(new_waist_height<ball_height):
            print("It is clearly a no ball")
            print()
            print(f"{player} waist height is {new_waist_height}cm and the ball height is {ball_height}cm which is greater than waist line")
            print(f"{ball_height} cm ball")
            print("------------------------")
            print()
            print(f"{new_waist_height} waist")
            print("-------------------------")
        else:
            print("The ball height is equal to the waist height,Umpire you can stay with your decision,its umpires call")
        


def ballheight():
    ''' give the ball height at the time of impact in cm'''
    ball_height = float(input("Enter the height of ball at the point of impact:"))
    print()
    return ball_height


def player_name():
    ''' give the player name of the team(like Rohit sharma, in lower caese) '''
    player_name = input("Enter the player Name:")
    print()
    return player_name


def chooseteam(teamname):
    ''' give the team name on whose player's dismissal review have been taken(like mumbai indians)'''
    Team = teamname
    player = player_name()
    ball_height = ballheight()
    checkball(Team,player,ball_height)


def Teamname():
    name = input("Which team the player belongs to:")
    print()
    return name

def team_list():
    MI = [('rohit sharma', 86.36), ('surya kumar yadav', 81.28)]
    RCB = [('virat kohli', 85.43), ('dinesh kartik', 76.2)]
    DC = [('david warner', 76.2), ('prithvi shaw', 76.2)]
    RR = [('jos buttler', 81), ('sanju samson', 76.2)]
    KKR = [('sunil naraine', 86.36), ('shreyash iyer', 76.2)]
    LSG = [('kl rahul', 76.2), ('de cock', 78.74)]
    CSK = [('ms dhoni', 81.28), ('shivam dube', 88.9)]
    SRH = [('trevis head', 81.28), ('pat cummins', 88.10)]
    PBKS = [('shikhar dhavan', 81), ('livingstone', 78.74)]
    GT = [('shubhman gill', 88), ('miller', 79)]
    
    ipl_team = {
        'mumbai indians': dict(MI),
        'royal challangers bangalore': dict(RCB),
        'delhi capitals': dict(DC),
        'rajasthan royals': dict(RR),
        'kolkata knight riders': dict(KKR),
        'lucknow super giants': dict(LSG),
        'chennai super kings': dict(CSK),
        'sun risers hyderabad': dict(SRH),
        'punjab kings': dict(PBKS),
        'gujrat titans': dict(GT)
    }
    name_of_team = Teamname()
    for i in ipl_team:
        if(name_of_team.lower()==i.lower()):
            chooseteam(ipl_team[i])
            break

    
    for team_name, players in ipl_team.items():
        if Teamname == team_name:
            chooseteam(players)
            break  # Exit loop after printing team

team_list()